@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-slide {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent)), url("../images/tube-aux-img.jpg");
  background: linear-gradient(black, transparent), url("../images/tube-aux-img.jpg");
  background-size: 1450px;
  background-repeat: no-repeat;
  background-position: center;
}

.main-slide img.bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.95;
  height: 400px;
}

.main-slide .navbar .container {
  padding: 1em;
  border-bottom: 1px solid gray;
}

.main-slide .navbar .container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.main-slide .navbar .container .nav:before {
  content: '';
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}

.main-slide .navbar .container .nav .primary-nav {
  list-style-type: none;
  place-content: space-between;
  margin: auto 0;
  padding: 0;
  text-align: left;
}

.main-slide .navbar .container .nav .primary-nav li {
  margin: 0;
  padding: 0;
  display: inline;
  text-align: center;
}

.main-slide .navbar .container .nav .primary-nav li a {
  color: white;
  text-decoration: none;
  padding: 1em 1.5em;
  font-weight: bold;
}

.main-slide .navbar .container .nav .mobile-menu {
  width: 20px;
}

.main-slide .main-slide-background {
  padding-top: 1em;
  vertical-align: middle;
  height: 80vh;
}

.main-slide .main-slide-background .site-map {
  margin-bottom: 1em;
}

.main-slide .main-slide-background .site-map a {
  text-decoration: none;
  color: white;
  display: inline;
  font-size: 0.8em;
}

.main-slide .main-slide-background .site-map p {
  color: white;
  display: inline;
  font-size: 0.8em;
}

.main-slide .main-slide-background h1 {
  color: white;
  font-size: 3em;
  margin-top: 3em;
  width: 100vh;
}

section.sub-items .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  margin: 1em 0;
}

section.sub-items .wrapper .secondgen, section.sub-items .wrapper .thirdgen {
  height: 80vh;
}

section.sub-items .wrapper .gap {
  width: 5em;
}

section.sub-items .wrapper img {
  z-index: -9;
  width: 100%;
}

section.sub-items .wrapper h2 {
  font-size: 2em;
  text-align: center;
  margin-top: -2em;
  margin-bottom: 0;
  color: black;
}

section.sub-items .wrapper a {
  text-decoration: none;
  width: 9em;
  color: black;
  display: block;
  text-align: center;
  margin: 0 auto;
}

section.sub-items .wrapper .btn {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 5em;
  padding: 0.5em 2em;
  text-align: center;
}

section.sub-items .wrapper p {
  text-align: center;
  font-size: 1.5em;
  margin-top: 0;
  color: black;
}

section.general {
  background: #221f35;
  height: 100vh;
  padding-top: 3em;
}

section.general .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
}

section.general .wrapper .gap {
  width: 4em;
}

section.general .wrapper p {
  width: 15em;
  text-align: left;
  font-size: 1em;
  padding: 0;
  font-weight: 600;
  line-height: 1.6em;
}

section.general h3 {
  color: white;
  font-weight: 600;
  font-size: 3em;
  text-align: center;
  width: 15em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

section.general p {
  color: white;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
}

section.dimensions .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  height: 90vh;
  margin: auto 0;
}

section.dimensions .wrapper img {
  width: 35em;
}

section.dimensions .wrapper .gap {
  width: 15em;
}

section.dimensions .wrapper h3 {
  font-size: 3em;
}

section.dimensions .wrapper p {
  font-size: 1.3em;
}

section.dimensions .wrapper .left-col, section.dimensions .wrapper .right-col {
  margin: auto 0;
}

section.options {
  background-color: #f3efef;
  padding-top: 1em;
  height: 90vh;
}

section.options h3 {
  font-size: 3em;
  text-align: center;
}

section.options .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.options .wrapper .sub-option {
  text-align: center;
  width: 35em;
}

footer {
  color: white;
  background: #242323;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  padding: 2em 0;
}

footer .container h2 {
  font-size: 2em;
}

footer .container p {
  font-size: 0.8em;
}

footer .container .left-col {
  width: 300px;
}

footer .container .mid-col a {
  text-decoration: none;
  color: white;
  font-size: 0.8em;
}

footer .container .mid-col ul {
  list-style-type: none;
  padding-left: 0;
}

footer .container .mid-col li {
  margin-bottom: 0.5em;
}

footer .container .right-col p {
  font-size: 0.8em;
}
/*# sourceMappingURL=tubes.css.map */