@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-slide {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent)), url("../images/tube-aux-img.jpg");
  background: linear-gradient(black, transparent), url("../images/tube-aux-img.jpg");
  background-size: 1450px;
  background-repeat: no-repeat;
  background-position: left;
}

.main-slide img.bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.95;
  height: 400px;
}

.main-slide .navbar .container {
  padding: 1em;
  border-bottom: 1px solid gray;
}

.main-slide .navbar .container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.main-slide .navbar .container .nav:before {
  content: '';
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}

.main-slide .navbar .container .nav .primary-nav {
  list-style-type: none;
  place-content: space-between;
  margin: auto 0;
  padding: 0;
  text-align: left;
}

.main-slide .navbar .container .nav .primary-nav li {
  margin: 0;
  padding: 0;
  display: inline;
  text-align: center;
}

.main-slide .navbar .container .nav .primary-nav li a {
  color: white;
  text-decoration: none;
  padding: 1em 1.5em;
  font-weight: bold;
}

.main-slide .navbar .container .nav .mobile-menu {
  width: 20px;
}

.main-slide .main-slide-background {
  padding-top: 1em;
  height: 80vh;
}

.main-slide .main-slide-background .site-map {
  margin-bottom: 1em;
}

.main-slide .main-slide-background .site-map a {
  text-decoration: none;
  color: white;
  display: inline;
  font-size: 0.8em;
}

.main-slide .main-slide-background .site-map p {
  color: white;
  display: inline;
  font-size: 0.8em;
}

.main-slide .main-slide-background .wrapper {
  padding-top: 2em;
}

.main-slide .main-slide-background .wrapper h1 {
  font-size: 3em;
  color: white;
  margin-bottom: 0.5em;
}

.main-slide .main-slide-background .wrapper h2 {
  font-size: 2em;
  color: white;
  font-weight: 500;
  margin-top: 0;
}

.main-slide .main-slide-background .wrapper p {
  color: white;
}

.main-slide .main-slide-background .wrapper .right-col {
  height: 60vh;
  width: 30vw;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(128, 128, 128, 0.1)), to(rgba(128, 128, 128, 0.1))), url("../images/secondgentube.JPG");
  background: linear-gradient(rgba(128, 128, 128, 0.1), rgba(128, 128, 128, 0.1)), url("../images/secondgentube.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2em;
}

.main-slide .main-slide-background .wrapper .left-col {
  margin: auto 0;
}

section.photocathode .wrapper {
  padding: 3em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.photocathode .wrapper .left-col {
  width: 80vw;
}

section.photocathode .wrapper .left-col .color-block {
  width: 20em;
  height: 20em;
  background-color: #404140;
  position: absolute;
  z-index: -1;
  margin-top: -1em;
  margin-left: 7em;
}

section.photocathode .wrapper .left-col .image {
  height: 60vh;
  width: 30vw;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(128, 128, 128, 0.2)), to(rgba(128, 128, 128, 0.2))), url("../images/secondgentube.JPG");
  background: linear-gradient(rgba(128, 128, 128, 0.2), rgba(128, 128, 128, 0.2)), url("../images/secondgentube.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section.photocathode .wrapper .right-col {
  width: 80vw;
}

section.photocathode .wrapper .right-col h3 {
  font-size: 3em;
}

section.photocathode .wrapper .right-col p {
  font-size: 1em;
  width: 20em;
}

footer {
  color: white;
  background: #242323;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  padding: 2em 0;
}

footer .container h2 {
  font-size: 2em;
}

footer .container p {
  font-size: 0.8em;
}

footer .container .left-col {
  width: 300px;
}

footer .container .mid-col a {
  text-decoration: none;
  color: white;
  font-size: 0.8em;
}

footer .container .mid-col ul {
  list-style-type: none;
  padding-left: 0;
}

footer .container .mid-col li {
  margin-bottom: 0.5em;
}

footer .container .right-col p {
  font-size: 0.8em;
}
/*# sourceMappingURL=tubessecond.css.map */